.search-results-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.button:hover {
    background-color: #0056b3;
}

h3 {
    margin-top: 15px;
    color: #333;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
}

.back-link:hover {
    text-decoration: underline;
}

body {
    background: linear-gradient(to right, #f0f4c3, #ffffff);
    font-family: Arial, sans-serif;
}
